.job-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 280px;
  max-width: 400px;
}

.job-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.job-img {
  height: 30px;
  width: auto;
}

#cegsoft {
  background-color: white;
}

.job-header-text {
  margin-left: 15px;
}

.job-name {
  font-size: 24px;
}

.job-location {
  font-size: 12px;
}

.job-content {
  text-align: justify;
}
