.project-container {
  max-width: 400px;
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
}

.project-public {
  color: rgb(90, 185, 90);
}

.project-private {
  color: rgb(194, 78, 78);
}

.project-content {
  text-align: justify;
}

.project-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.project-tags > .tag-link {
  margin: 5px;
}

.project-tags > .tag-link:first-child {
  margin-left: 0px;
}
