.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.app-container > * {
  max-width: 900px;
}

.app-container > *:last-child {
  margin-top: 30px;
  padding-bottom: 50px;
}

.app-noscroll {
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .app-container {
    padding-top: 50px;
  }

  .app-container > *:last-child {
    margin-top: 0px;
  }
}
