.experience-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.experience-list > .job-container {
  margin: 20px;
}

#cegsoft {
  background-color: white;
  padding: 5px;
}
