.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-dynamic {
  margin-bottom: 30px;
  font-size: 18pt;
  color: greenyellow;
  font-family: Courier New, Courier, monospace;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  word-wrap: break-word;
  height: 80px;
}

.main-button {
  text-decoration: none;
  color: #00B4FF;
  border: 1px solid #00B4FF;
  width: 250px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.main-button:hover, .main-button:active {
  background-color: #00B4FF;
  color: white;
}

.main-face {
  display: none;
  margin-bottom: 30px;
  width: 200px;
}

@media screen and (max-width: 600px) {
  
  .main-face {
    display: block;
  }
}
