.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-list > * {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .projects-list {
    margin-top: 50px;
  }
}
